<div class="login-form">
<div class="header">
  <span id="header-title">
    <img src="/success_green.png" id="header-icon">
    Todo
  </span>
</div>




<h1 style="text-align: center;">할 일 수정</h1>

<%= render 'form', work: @work %>


<div class="field-input">
  <%= link_to '뒤로', works_path %>
</div>

</div>