<div class="login-form">
<div class="header">
  <span id="header-title">
    <img src="/success_green.png" id="header-icon">
    Todo
  </span>

</div>

<h1 style="text-align: center; margin-bottom: 30px;">할 일</h1>


<div class="show-form">
<p>
  <strong>제목: </strong>
  <%= @work.title %>
</p>

<p>
  <strong>설명: </strong>
  <%= @work.content %>
</p>

<p>
	<strong>완료: </strong>
  	<% if @work.completion %>
     <img src="/success_green.png" class="success_icon" style="margin-bottom: 2px">
  	<% else %>
   		<img src="/close_button.png" class="close_icon" style="margin-bottom: 2px">
  	<% end %>
</p>

<%= link_to '수정', edit_work_path(@work) %> |
<%= link_to '뒤로', works_path %>
</div>
</div>