/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 
@import url('https://fonts.googleapis.com/css?family=Noto+Sans');

.header {
	margin-bottom: 20px;
}

a {
	color: #000;
}

a:link { 
	text-decoration: none;
}

a:hover { 
	color: #25ae88;
	text-decoration: none;
}

.todolist h1 {
	text-align: center;
}

.todolist table {
	width: 80%;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 5%;
	margin-top: 5%;
}

.add {
	text-align: center;
}

#header-icon {
	width: 20px;
	height: auto;
}

#header-title {
	font-size: 20px;
}

#header-login {
	float: right;
}

.success_icon {
	width: 15px;
	height: auto;
}

.close_icon {
	width: 15px;
	height: auto;
}

.login-form {
	width: 20%;
	margin: auto;
}

#login-form-header {
	display: flex;
	justify-content: center;
}

.login-form label {
	text-align: center;
	margin-top: 30px;
	margin-bottom: 5px;
}

.actions {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 30px;
}

.field-input {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.show-form {
	text-align: center;
}

